<header class="ext-header">
  <a class="ext-header__logo" routerLink="/analysis">
    Documents Analyser
  </a>

  <div class="ext-header__nav-menu">
    <div routerLinkActive="active current">
      <a routerLink="/analysis">ANALYSIS</a>
    </div>
    <div routerLinkActive="active current">
      <a routerLink="/document/0">DOCUMENTS</a>
    </div>
  </div>

  <div class="ext-header__user-menu">
    <span class="justify-content-center menu-top">
      <i class="fas fa-cogs fa-lg"></i>
    </span>
  </div>
</header>

