@import "../../../scss/color";
@import "../../../scss/typography";
@import "../../../scss/block";

.ext-class {
  padding: 3rem 3rem 0 3rem;
  max-width: 122rem;
  width: 100%;
  margin: 0 auto;
  font-size: 5rem;

  > h3 {
    margin-bottom: 1rem;
    padding-bottom: .5rem;
    border-bottom: 1px solid $ext-gray-200;
    font-size: $h3-font-size;
    color: $primary;
  }
}

.ext-block {
  width: 100%;
}

h4 {
  margin-bottom: 1rem;
    padding-bottom: .5rem;
    border-bottom: 1px solid $ext-gray-200;
    font-size: $h4-font-size;
    color: $primary;
}


