$ext-dark-blue: #273476;
$ext-light-dark-blue: #5567AE;
$ext-red: #EA5545;
$ext-light-red: #F18B80;
$ext-dark-green: #2E6972;
$ext-light-dark-green: #7CB8C0;
$ext-green: #93C460;
$ext-purple: #5567AE;
$ext-light-green: #B4D199;
$ext-orange: #F7A941;
$ext-violet: #5567AE;
$ext-light-orange: #F3C88D;
$ext-blue: #46BFDE;
$ext-light-blue: #B5E0F1;

$ext-gray: #3A4E5D;
$ext-light-gray: #6286A0;

$ext-gray-900:#4D5F6D;
$ext-gray-800:#61717D;
$ext-gray-700:#75838D;
$ext-gray-600:#89959E;
$ext-gray-500:#9CA6AE;
$ext-gray-400:#B0B8BE;
$ext-gray-300:#C4CACE;
$ext-gray-200:#D8DCDF;
$ext-gray-100:#EBEDEE;

$ext-white: #fff;
